<div id="toDoListModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="toDoListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="toDoListModalLabel">ToDo List Project</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Here you can describe your ToDo List project in detail. For example:</p>
                <ul>
                    <li><strong>Technologies Used:</strong> ASP.NET Core, Entity Framework, SQL, and Bootstrap</li>
                    <li><strong>Features:</strong> Add, edit, delete, and prioritize tasks</li>
                    <li><strong>Purpose:</strong> To demonstrate CRUD functionality and clean UI/UX design</li>
                </ul>
                <p>You can include screenshots or links to the GitHub repository here.</p>
            </div>
            <div class="modal-footer">
@*                 <a href="/Pages/ToDoList/ToDoListProj.cshtml" class="btn btn-primary" role="button" target="_blank">View ToDo Project</a>
 *@                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
